.sub-details {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
}

.ant-drawer-header {
  display: none !important;
}

.drop-zone {
  border: 0.5px dashed var(--Gray-gray-7, #8C8C8C);
  background: rgba(104, 54, 209, 0.02);
}

.join-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7.38rem;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  height: fit-content;
}

.grid-card {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  grid-column: span 1 / span 1;
  display: grid;
  max-width: 24rem;
  min-width: 24rem;
}

.dep-dropdown-mobile,
.exp-dropdown-mobile,
.loc-dropdown-mobile,
.roles-dropdown-mobile {
  height: 2.25rem;
}

.job-card-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width:1024px) {
  .job-card-container {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

.contact-main {
  width: 50%;
  margin-left: 1.25rem
}

.ptc-left-container {
  width: 50%;
}

.ptc-right-container {
  width: 53%;
}

.privacy-section2 {
  margin-top: 2.5rem
}

/* Media query for small screens (e.g., phones) */
@media (max-width: 576px) {
  .contact-content-wrapper {
    display: none;
  }

  .privacy-section2 {
    margin-top: 0rem
  }

  .contact-sidebar {
    display: none;
  }

  .skew-container {
    height: 100%;
    clip-path: none
      /* Adjust values for desired skew */
  }

  .ptc-left-container {
    width: 100%;
  }

  .ptc-right-container {
    width: 100%;
  }

  .ptc-hero-container {
    flex-direction: column;
    height: 100vh;
  }

  .contact-main {
    width: 100%;
    margin-left: 0rem
  }

  .join-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: fit-content;
  }

  .grid-card {
    width: 100%;
  }

  .dep-dropdown {
    display: none;
  }

  .exp-dropdown {
    display: none;
  }

  .loc-dropdown {
    display: none;
  }

  .roles-dropdown {
    display: none;
  }
}

/* Media query for medium-sized screens (e.g., tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .dep-dropdown {
    display: none;
  }

  .privacy-section2 {
    margin-top: 0.5rem
  }

  .contact-sidebar {
    display: none;
  }

  .skew-container {
    height: 100%;
    clip-path: none
      /* Adjust values for desired skew */
  }

  .ptc-left-container {
    width: 100%;
  }

  .ptc-right-container {
    width: 100%;
  }

  .contact-content-wrapper {
    display: none;
  }

  .ptc-hero-container {
    flex-direction: column;
  }

  .contact-main {
    width: 100%;
    margin-left: 0rem
  }

  .exp-dropdown {
    display: none;
  }

  .filter {
    padding-left: 2rem
      /* 112px */
    ;
    padding-right: 2rem
      /* 112px */
    ;
  }

  .loc-dropdown {
    display: none;
  }

  .roles-dropdown {
    display: none;
  }

  .join-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: fit-content;
  }

  .grid-card {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    grid-column: span 1 / span 1;
    display: grid;
    width: 16rem;
  }
}

/* Media query for large screens (e.g., laptops) */
@media (min-width: 769px) and (max-width: 992px) {
  .join-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: fit-content;
  }

  .filter-mobile {
    display: none;
  }

  .grid-card {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    grid-column: span 1 / span 1;
    display: grid;
    width: 20rem;
  }
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  .filter-mobile {
    display: none;
  }
}

/* Media query for extra-large screens (e.g., large desktops) */
@media (min-width: 1201px) {
  .filter-mobile {
    display: none;
  }
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  color: black;
  width: 100%;
} */

.ant-picker {
  margin: 0;
  padding: 4px 5px;
  color: #000;
  font-size: .75rem;
  font-weight: 300;
  line-height: 1;
  list-style: none;
  font-family: poppins;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: transparent;
  transition: border .2s, box-shadow .2s;
  border: 0.5px solid #8C8C8C;
  border-radius: 0;
  margin-top: 0.25rem;
}

/* self-stretch border-[color:var(--gray-gray-7, #8C8C8C)] flex shrink-0 h-[29px] mt-1 border-[0.5px] border-solid max-md:max-w-full */
.intern-input {
  justify-self: stretch;
  width: 100%;
  border-color: var(--gray-gray-7, #8C8C8C);
  display: flex;
  flex-shrink: 0;
  height: 1.875rem;
  margin-top: 0.25rem;
  padding-left: 1rem;
  font-family: poppins;
  border-width: 0.031rem;
  border-style: solid;
  max-width: 100%;
  width: 100%;
}

/* .ant-picker .ant-picker-input{
  border: 0.5px solid #8C8C8C;
  border-radius: 0;
  margin-top: 0.25rem;
  padding: 4px 5px;
} */

/* Media query for medium-sized screens (landscape orientation) */
/* @media (min-width: 577px) and (max-width: 768px) and (orientation: landscape) {
  } */