* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* In your global styles or specific page styles */
html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth; /* or smooth */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow-x: auto; Never use this, this will effect the scroll of remix*/
}
::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}
:root {
  --color-tin: rgba(244, 243, 251, 0.8);
  --color-geekblue-2: #d6e4ff;
  --color-hue-indigo: rgba(27, 7, 64, 0.8);
  --indigo-light: #baa5e7;
  --font-size: 16px;
}
.light-indigo-bg {
  background-color: var(--indigo-light);
}
.geekblue-1 {
  color: var(--geekblue-1, #f0f5ff);
}

.ant-modal-footer {
  visibility: hidden;
  padding: 0;
}

.error-btn {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-transform: capitalize;
}

.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

/* scrollToTop.css or your preferred styles file */

/* Styles for the scroll-to-top button */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: #007bff; /* Change this to your preferred background color */
  color: #fff; /* Change this to your preferred text color */
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
}

#scrollToTopBtn:hover {
  background-color: #0056b3; /* Change this to a slightly darker shade for hover effect */
}

/* Show the button when scrolled halfway down the page */
body.scrolled #scrollToTopBtn {
  display: block;
}

.hero-wrapper {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 42rem; /* Replace '2xl' with the actual value from your Tailwind config */
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem; /* Adjust the gap as needed */
}
.hero-description {
  font-weight: 400;
  line-height: 1.5rem; /* 24px / 16px */
  letter-spacing: 0.28px;
  font-size: 0.875rem;
  font-family: Poppins;
}

.hero-container-section {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #ffffff;
}

.hero-title {
  font-weight: 600;
  font-family: Montserrat;
  font-size: 2.2rem /* 36px */;
  line-height: 2.4rem;
  color: white;
  text-align: center;
}
.hero-subtitle {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-align: center;
}

.hero-btn {
  margin-top: 20px;
  width: 140px;
  height: 50px;
}
.section-summary {
  color: #262626;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.section-title {
  color: #0d0b71;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.container-card {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.card-box {
  width: 24.187rem;
  height: 24.375rem;
  display: flex;
  flex-direction: column;


padding-bottom: 0.5rem;

justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
}

.card-box img {
  width: 100%;
  aspect-ratio:1/1;
  height:15.625rem;
  object-fit: cover;
  border-radius: 0.25rem;
}

.card-box content {
  padding: 16px;
}

.card-title{
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.4px;

}
.card-desc {
  color: #fff;
  font-family: Poppins;
  font-size: 0.62rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.36px;
}
.consulation-container{
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  width: 100%;
  align-items: center;
  height: 16.875rem;
  padding: 5.91rem;
  justify-content: space-between;
  z-index:1;
}

.consulation-tagline{
  display: flex;
  flex-wrap: wrap;
  color: #FFF;
font-family: Montserrat;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: 3.25rem; /* 162.5% */
letter-spacing: 0.04rem;
width: 48.9375rem;
}

.btn-white {
  display: flex;
  height: 3.75rem;
  padding: 0px 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: #f1f0f4;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  box-shadow: 0px 3px 5px 0px rgba(176, 190, 197, 0.32),
    0px 8px 24px 0px rgba(176, 190, 197, 0.32);
}


.custom-service-grid{

  display: grid;
  grid-column: span 1;
  width: auto;
  aspect-ratio: 1/1;
  object-fit: cover;

}
.description{
  display: flex;
  flex-wrap: wrap;
  color: var(--Gray-gray-9, #262626);
text-align: justify;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
letter-spacing: 0.02rem;
}

.common-card-box{
  width: 100%;
  height: 24.375rem;

  display: flex;
  flex-direction: column;
padding-bottom: 0.5rem;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
}

.common-card-box img {
  width: 100%;
  aspect-ratio:1/1;
  height:15.625rem;
  object-fit: cover;
  border-radius: 0.25rem;
}

.common-card-box content {
  padding: 16px;
}

.whitepaper-container-property{
  padding-right: 4rem;
  padding-left: 4rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-self: center;
  width: fit-content;
  padding: 1rem;
}

.testimonial-section{
  padding-left: 16rem;
  padding-right: 16rem;
}
.ReactFlagsSelect-module_fullWidthOptions__1XeR6{
  width: 16rem!important;
}
.ReactFlagsSelect-module_selectValue__152eS .ReactFlagsSelect-module_label__27pw9{  
  display: none!important;
}
.ReactFlagsSelect-module_selectBtn__19wW7 {
  height: 2rem!important;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2{
  padding-bottom: 0rem!important;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2 .ReactFlagsSelect-module_selectBtn__19wW7 {
  border: none; 
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.left-content-blog{
width: 70%;
}
.blog-content-container{
  gap:1.25rem;
}
.blog-whitepaper-content-section{
  padding-top: 3rem/* 48px */;
  padding-bottom: 3rem/* 48px */;
}
.markdown-container h1{
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.markdown-container h2{
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.markdown-container h3{
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-div{
  display: flex;
  flex-direction: row;
}
.footer-buttons{
  display: none;
}
.footer-company-item{
  display: none;
}
.mobile-footer{
  display: none;
}
.left-box{
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 0rem;
  gap:1rem;
}
.right-box{
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0rem;
  gap:1rem;
}

/* Media query for small screens (e.g., phones) */
@media (max-width: 576px) {
  .hero-wrapper {
    max-width: 90%;
    gap: 0rem;
  }
  
  .mobile-footer{
    display: block;
  }

 .tags-dropdown-mobile{
    height: 2.25rem;
  }
  .category-dropdown-mobile{
    height: 2.25rem;
  }

  .blog-whitepaper-content-section{
    padding-top: 1rem/* 48px */;
  }
  .left-content-blog{
    width: 100%;
    }
    .blog-content-container{
      gap:0rem;
    }
  .author-card{
    display: none;
  }
  .separator-line{
    display: none;
  }
  .blog-para-title{
    display: none;
  }
  .testimonial-section{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .card-box {
    width: 15.66667rem;
    height: 15rem;
  }
  .card-box img {
    height:7.25rem;
  }

  .btn{
    height: 30px;
  }
  .common-card-box{
    width: 100%;
    height: 8.75rem;
  }
  .common-card-box img {
    height:5.25rem;
    aspect-ratio: 24/9;
  }
  .whitepaper-container-property{
    padding-right: 0rem;
    padding-left: 0rem;
  
    grid-template-columns: repeat(1, minmax(0, 1fr));
    
  }
  .hero-title {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .hero-description {
    font-weight: 300;
    line-height: 0.8rem; /* 24px / 16px */
    letter-spacing: 0.18px;
    font-size: 0.575rem;
  }
  .hero-btn {
    width: 100px;
    height: 30px;
    align-items: center;
    font-size: 0.5rem;
  }
  .section-summary {
    font-size: 10px;
  }
  .section-title {
    font-size: 1.4rem;
  }
  .card-title{
    font-size: 0.6rem;
   
  }
  .card-desc {
    display: none;
  }
  
  .consulation-container{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
    align-items: center;
    height: 16rem;
    padding: 0.8rem;
    text-align: center;
    justify-content: space-around;
  }
  .consulation-tagline{
    font-size: 1.2rem; /* Adjust the value based on your needs */
    line-height: 1.75rem; /* Adjust the value based on your needs */
    letter-spacing: 0.1rem; 
    text-align: center;
    width: 18.9375rem;
  }
  .btn-white {
    font-size: 12px;
  }
  .custom-service-grid{

    display: grid;
    grid-column: span 1;
    width: auto;
    aspect-ratio: 1/1;
   
}
.main-footer{
  display: none;
}

}


/* Media query for medium-sized screens (e.g., tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .hero-wrapper {
    max-width: 80%;
    gap: 0rem;
  }

  .tablet-hidden{
    display: none;
  }
  

  .footer-company-item{
    display: flex;
  }
  .footer-div{
  
    flex-direction: column;
  }
  .footer-buttons{
    display: flex;
  }

  .tags-dropdown-mobile{
    height: 2.25rem;
  }
  .category-dropdown-mobile{
    height: 2.25rem;
  }
  .blog-whitepaper-content-section{
    padding-top: 2rem/* 48px */;
  }
  .left-content-blog{
    width: 100%;
    }
    .blog-content-container{
      gap:0rem;
    }
  .btn{
    height: 40px;
  }
  .author-card{
    display: none;
  }
  .separator-line{
    display: none;
  }
  .blog-para-title{
    display: none;
  }
  .testimonial-section{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card-box {
    width: 18.66667rem;
    height: 18rem;
  }
  .card-box img {
    height:10.25rem;
  }
  .common-card-box {
    width: 100%;
    height: 12rem;
  }
  .common-card-box img {
    height:8.25rem;
    aspect-ratio: 20/9;
  }
  .whitepaper-container-property{
    padding-right: 1rem;
    padding-left: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .hero-description {
    font-weight: 400;
    line-height: 0.8rem; /* 24px / 16px */
    letter-spacing: 0.14px;
    font-size: 0.775rem;
  }
  .hero-title {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .custom-service-grid{

    display: grid;
    grid-column: span 1;
    width: auto;
    aspect-ratio: 1/1;
   
}
  .hero-btn {
    width: 115px;
    height: 38px;
    font-size: 0.6rem;
  }
  .section-summary {
    font-size: 12px;
  }

  .section-title {
    font-size: 1.8rem;
  }
  .card-title{
    font-size: 0.8rem;
    
  }
  .card-desc {
    display: none;
  }
  
  .consulation-container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
    align-items: center;
    height: 14rem;
    padding: 0.9rem;
    text-align: center;
    justify-content: space-around;
  }
  .consulation-tagline{
    font-size: 1.4rem; /* Adjust the value based on your needs */
  
    line-height: 1.95rem; /* Adjust the value based on your needs */
    letter-spacing: 0.1rem; 
    text-align: center;
    width: 32.9375rem;
  }
  .btn-white {
    font-size: 14px;
  }
  .left-box{
    padding-left: 2rem;
    padding-right: 2rem;
     gap:0.5rem;
   }
   
   .right-box{
     padding-left: 2rem;
     padding-right: 2rem;
     gap:0.5rem;
   }
}

/* Media query for medium-sized screens (landscape orientation) */
/* @media (min-width: 577px) and (max-width: 768px) and (orientation: landscape) {
  
} */

/* Media query for large screens (e.g., laptops) */
@media (min-width: 769px) and (max-width: 992px) {
  .hero-wrapper {
    max-width: 60%;
    gap: 0.3rem;
  }
  .left-box{
   padding-left: 0.1rem;
   padding-right: 0.1rem;
    gap:0.5rem;
  }
  
  .right-box{
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    gap:0.5rem;
  }
  

  .author-links{
    display: none;
  }
  .testimonial-section{
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .card-box {
    width: 22.66667rem;
    height: 22rem;
  }
  .card-box img {
    height:13.25rem;
  }
  .common-card-box  {
    width: 100%;
    height: 18rem;
  }
  .common-card-box  img {
    height:8.25rem;
    aspect-ratio: 16/9;
  }
  .whitepaper-container-property{
    padding-right: 2rem;
    padding-left: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
  }
  .hero-title {
    font-size: 2rem;
    line-height: 1.95rem;
  }
  .custom-service-grid{

    display: grid;
    grid-column: span 1;
    width: auto;
    aspect-ratio: 1/1;
   
}

  .hero-btn {
    width: 10rem;
    height: 3.125rem;
    font-size: 0.9rem;
  }
  .section-summary {
    font-size: 0.875rem;
  }
  .section-title {
    font-size: 2rem;
  }
  .card-desc{
   font-size: 0.55rem;
        }
        
  .consulation-container{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    width: 100%;
    align-items: center;
    height: 14rem;
    padding: 0.9rem;
  }
  .consulation-tagline{
    font-size: 1.5rem; /* Adjust the value based on your needs */
    line-height: 2.25rem; /* Adjust the value based on your needs */
    letter-spacing: 0.1rem; 
    width: 38.9375rem;
  }
  .btn-white {
    font-size: 16px;
  }
  
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  .hero-wrapper {
    max-width: 50%;
    gap: 0.6rem;
  }
  .author-links{
    display: none;
  }
  .hero-title {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .hero-btn {
    width: 180px;
    height: 50px;
    font-size: 1rem;
  }
  .section-summary {
    font-size: 15px;
  }
}

/* Media query for extra-large screens (e.g., large desktops) */
@media (min-width: 1201px) {
  .hero-wrapper {
    max-width: 42rem;
  }
  .author-links{
    display: none;
  }
}

.btn{
  display: flex;
  height: 50px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--geekblue-1, #f0f5ff);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  background: linear-gradient(135deg, #6c39db 0.62%, #1c083e 100%);
  
}

.ant-drawer-header {
  display: none;
}
.ant-drawer-content-wrapper {
  margin-top: 94px;
}

.hamburger {
  color: white;
  visibility: hidden;
  display: none;
}

.footer-heading {
  color: var(--geek-blue-geekblue-2, #d6e4ff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}

.footer-font {
  color: var(--gray-gray-1, #fff);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.email-container {
  max-height: 40px;
  padding: 12px 8px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border: 0.5px solid #f2f0fb;
  background: transparent;
}

.subscribe {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background: #f8f7fd;
}
.subscribe-text {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(
    --CardDark,
    linear-gradient(180deg, #360e81 0%, #20084d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Loader */
.loader {
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.lds-facebook {
  z-index: 16;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  background-color: #000000;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #dcf51f;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.labels {
  color: #7d7890;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.button-test {
  width: 10rem;
  height: 3rem;
  border: 1px solid transparent;
  border-image: var(
    --card-dark,
    linear-gradient(180deg, #360e81 0%, #20084d 100%)
  );
  border-image-slice: 1;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  display: inline-flex;
  transition: background 0.9s ease, color 0.3s ease;
}

.button-test > span {
  color: var(--card-dark, linear-gradient(180deg, #360e81 0%, #20084d 100%));
  font-size: 1.25rem;
  font-weight: 500;
  word-wrap: break-word;
}
.button-test:hover {
  background: linear-gradient(135deg, #6c39db 0.62%, #1c083e 100%);
  /* focusPrimary */
  box-shadow: 0px 0px 0px 2px #f0f5ff;
}

.button-test:hover > span {
  color: white; /* Change the opacity to 1 to make the text fully visible on hover */
}

.border-container-left {
  border: 0.1px transparent;

  border-image: linear-gradient(
    to left bottom,
    white,
    transparent 50%,
    #5d3f9c
  );
  border-image-slice: 0.5;
  border-image-width: 1px 0 0 0;
}

.border-container-top {
  border: 0.1px transparent; /* Set a transparent solid border */
  /* Create a linear gradient for the border */
  border-image: linear-gradient(
    to right top,
    white,
    /* Start with the border color */ transparent 50%,
    /* Transition to transparent */ #5d3f9c
      /* End with the border color again */
  );
  border-image-slice: 0.5; /* Make the entire border image visible */
  border-image-width: 0 0 0 1px;
}

.border-container-bottom {
  border: 0.1px transparent; /* Set a transparent solid border */
  /* Create a linear gradient for the border */
  border-image: linear-gradient(
    to right bottom,
    white,
    /* Start with the border color */ transparent 50%,
    /* Transition to transparent */ #5d3f9c
      /* End with the border color again */
  );
  border-image-slice: 0.5; /* Make the entire border image visible */
  border-image-width: 1px 0 0 1px;
}
.grape-shadow:hover {
  box-shadow: 100px 0px 150px 0px #24114f inset;
  transition: 0.3s;
}

.key-points-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.key-points-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
  background: #fff;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02),
    0px 1px 6px -1px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
}

.key-points-icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.video {
  position: relative; /* Set position to relative to act as a positioning context */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Create a pseudo-element ::before with the gradient background */
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(27, 7, 64, 0.8) 0%,
    rgba(27, 7, 64, 0.8) 100%
  );
  z-index: 1; /* Adjust the z-index to place the gradient above the video */
}
.video-service {
  position: relative; /* Set position to relative to act as a positioning context */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(43, 21, 83, 0.8) 0%,
    rgba(27, 7, 64, 0.8) 0%
  );
  z-index: 1; /* Adjust the z-index to place the gradient above the video */
}
.industry-focus-main {
  background: #fff;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 6rem;
  margin-left: 6rem;

  /* boxShadow */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02),
    0px 1px 6px -1px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
}
.industry-focus-text {
  color: var(--geekblue-2, #d6e4ff);
  font-family: Montserrat;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.industry-focus-text-container {
  background: #170d26;
  width: 180px;

  padding: 4px;

  gap: 10px;
}
/* Adjust the z-index of the video to make it below the gradient */
.video video {
  position: relative; /* Set position to relative to establish a new stacking context */
  z-index: 0; /* Adjust the z-index to place the video below the gradient */
}
.hero-first-vec {
  position: absolute;
  top: 28%;
  left: 20%;
  transform: translate(-50%, -50%);

  z-index: 12;

  fill: #d7cef8;
  width: 23.97944rem;
  height: 42.981rem;
  /* transform: rotate(25deg); */
  flex-shrink: 0;
}

.blur-vec {
  --tw-blur: blur(180px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.blur-vec-dark {
  --tw-blur: blur(280px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.hero-second-vec {
  position: absolute;
  top: 44%;
  left: 80%;
  fill: #ca65db;
  width: 33.34275rem;
  height: 22.42731rem;
  flex-shrink: 0;
  transform: translate(-50%, -50%);

  z-index: 12;
}
.hero-third-vec {
  position: absolute;
  top: 64%;
  left: 40%;
  transform: translate(-50%, -50%);
  fill: #d7cef8;
  width: 23.97944rem;
  height: 42.981rem;
  /* transform: rotate(90deg); */
  flex-shrink: 0;
  z-index: 12;
}

.Container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  width: 90rem;
  padding: 3rem 7.5rem;

  width: 100%;
  background: #f9f8fc;
}
.industry-top-section h2 {
  color: var(--heading-gray, #e9e9ec);
}

/* styles.css */

/* Section styles */

/* Container styles */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
}

.subtitle {
  color: var(--heading-gray, #e9e9ec);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.designation {
  color: #e9e9ec;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.privacy-policy {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 400px auto;
  margin-top: 80px;
}
/* .contact-sidebar{
  position: relative;
  display: block;
} */
.contact-main {
  display: block;
}

.ReactFlagsSelect-module_selectBtn__19wW7
  .ReactFlagsSelect-module_flagsSelect__2pfa2 {
  border: none;
}

.ant-drawer-header div {
  display: none;
}
.ant-drawer-header-title {
  display: none;
}
.ant-btn {
  background-color: #000;
}
.contact-card {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-top: 4px solid #797eff;
  background: #f4f6ff;
  /* Elevation 2 */
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.author-card {
  border-radius: 2px;
  background: var(--Gray-gray-1, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}
/* Item styles */
.item {
  display: flex;
  text-align: start;
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  justify-content: start;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}
.Card-Container {
  display: flex;
  width: 389px;
  height: 254px;
  padding: 12px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  gap: 10px;
  border-bottom: 0.5px solid var(--ButtonTest, #5e40a0);
  background: var(
    --Button3,
    linear-gradient(97deg, #4c2997 0.62%, #150a35 100%)
  );
  box-shadow: 0px 4px 12px 0px rgba(163, 177, 255, 0.2);
}

.why-choose-us-Container {
  display: flex;
  flex-direction: row;
}

.Card-Container:hover .card-title {
  display: none; /* Hide the title when hovered */
}

.Card-Container:hover .card-description {
  display: block; /* Show the description when hovered */
}
.Card-Container:hover .card-image {
  display: none; /* Show the description when hovered */
}


.card-image {
  display: block;
}
.card-line {
  background: var(--l-3, linear-gradient(127deg, #b9c1ec 0.62%, #a3b1ff 100%));
}
.card-description {
  color: var(--color-text, rgba(255, 255, 255, 0.85));
  font-family: Poppins;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.375rem;
  display: none; /* 169.231% */
}
.summary {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
}

.ellipse-container {
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ellipse-image {
  width: 2.5rem; /* Adjust the size of the ellipse image */
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chats-ellipse-container {
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chats-ellipse-image {
  width: 1.5rem; /* Adjust the size of the ellipse image */
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-image {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Adjust the size of the add image */
  height: 40px;
  cursor: pointer;
}
.minus-image {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px; /* Adjust the size of the add image */
  height: 40px;
  cursor: pointer;
}

.social-media-container {
  position: fixed;
  padding: 0.4rem;
  bottom: 5%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 12;
  cursor: pointer;
}
/* Expanded state for the chat container */
.social-media-container.open {
  height: 260px;
  /* Set the expanded height for the container */
}
.social-media-item {
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.faq-card {
  background: #fff;

  cursor: pointer;
  /* boxShadowCard */
  box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.09),
    0px 3px 6px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px -2px rgba(0, 0, 0, 0.16);
  /* focusPrimary */
  /* box-shadow: 0px 0px 0px 2px #111A2C; */

  display: flex;
  padding: 1.5rem;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.side-nav {
  /* Adjust this value based on your requirement */
  position: fixed;

  top: 60%;
  left: 0;
  width: 120px;
  transform: translate(0, -50%);
  z-index: 12;
  cursor: pointer;
}

.side-nav .line {
  /* ... */
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  width: 60%;
  cursor: pointer;
  border-bottom-width: 2px;
  border-style: solid;
  border-image: linear-gradient(96deg, #8275cf 0.58%, #6760b7 93.87%);
  border-image-slice: 1;
}

.side-nav .line:hover {
  /* ... */
  border-bottom-width: 2px;
  border-style: solid;
  border-image: linear-gradient(96deg, #8275cf 0.58%, #6760b7 93.87%);
  border-image-slice: 1;
  width: 100%;
  cursor: pointer;
}

.side-nav .line p {
  /* ... */
  visibility: hidden;

  color: var(--gray-3, #f5f5f5);
  font-family: Poppins;
  font-size: 11px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.33px;
  padding-left: 0.3rem;
}

.side-nav .line:hover p {
  /* ... */
  visibility: visible;
}

.navigate {
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  color: var(--gray-3, #f5f5f5);
  font-family: Poppins;
  font-size: 11px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.33px;
  width: 100%;
  cursor: pointer;
  padding-left: 0.3rem;
  border-bottom-width: 2px;
  border-style: solid;
  border-image: linear-gradient(96deg, #8275cf 0.58%, #6760b7 93.87%);
  border-image-slice: 1;
}

/* Hover styles */
.item:hover {
  background: linear-gradient(
    123deg,
    rgba(148.88, 159.27, 252.74, 0.17) 0%,
    rgba(243.29, 244.35, 253.96, 0.6) 100%,
    rgba(90.3, 104.33, 230.56, 0.6) 100%
  );
  color: white;
}

.main-jd-content ul {
  list-style-type: disc;
  color: black;
  margin-left: 1.5rem;
}

/* Add more specific styles for ul elements if needed */

.logoitems {
  display: flex;
  text-align: center;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover styles */
.logoitems:hover {
  background: linear-gradient(
    123deg,
    rgba(148.88, 159.27, 252.74, 0.17) 0%,
    rgba(243.29, 244.35, 253.96, 0.6) 100%,
    rgba(90.3, 104.33, 230.56, 0.6) 100%
  );
  color: white;
}

.second-div {
  display: flex;
  flex-direction: columna;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.technology-section {
  width: 100%;
  background: #f9f8fc;
}

.title {
  color: var(--heading-gray, #000000);
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.heading h2 {
  color: var(--heading-gray, #000000);
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 150% */
  letter-spacing: 0.05rem;
  justify-items: center;
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.industry {
  display: flex;
  padding: 0.25rem;
  width: fit-content;
  gap: 0.625rem;
  background: #170d26;
}
.section-container {
  color: var(--heading-gray, #e9e9ec);
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.75rem; /* 166.667% */
}
.phases-container {
  background: #1b0740;
  color: var(--heading-gray, #e9e9ec);
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem; /* 166.667% */
}
.phases-title {
  color: #eeebff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  text-align: center;
}

.service-card-summary {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.36px;
}

.phases-desc {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section h2 {
  color: #1b171e;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05rem;
}
.section-heading h2 {
  color: var(--heading-gray, #e9e9ec);
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 150% */
  letter-spacing: 0.05rem;
  justify-items: center;

  display: flex;
  justify-content: center;
}

/* Add your existing CSS styles here */

/* Style for the row number divs */
.row-number-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Style for each row number */
.row-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #3498db;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  margin: 5px 0;
}

/* Add any additional styling as needed */

.section p {
  font-size: 16px;
  max-width: 400px;
  text-align: center;
}

.section-container {
  background: #1b0740;
}

.industry-container-bg {
  background: linear-gradient(180deg, #360e81 0%, #20084d 100%);
}
.inner-container {
  display: flex;
  padding: 4rem 1.875rem;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.carousel {
  display: flex;
  overflow-x: auto;
  padding: 0px;
  display: flex;
  width: 81.25rem;
  /* height: 17.5rem; */
  padding: 0.25rem 0rem;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  /* gap: 1.5rem; */

  width: 100%;
}

.card {
  flex: 0 0 200px;
  height: 150px;

  padding: 1rem;
  display: flex;
  align-items: center;

  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.nav-content {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0.6rem;
  z-index: 12;
}
.card:hover {
  background-color: rgb(255, 255, 255);

  padding-left: 8px;
  padding-right: 8px;
  border-radius: 0.125rem;
  background: #fff;

  /* Elevation 2 */
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15); /* Change to your desired background color */
}

hr {
  width: 100%;
  margin: 10px 0;
}

.hero-gradient-top {
  border-image: linear-gradient(
    to left,
    transparent 0%,
    /* Start with transparent */ #97ecfe 50%,
    /* Transition to the border color */ #97ecfe 50%,
    /* Thicker center of the border */ transparent 100%
      /* Transition to transparent again */
  );

  border-image-slice: 1; /* Make the entire border image visible */
  border-image-width: 4px 0 0 0; /* Set bottom border thickness */
  border-bottom-style: solid;
}
.gradient-bottom {
  /* Create a linear gradient for the border */
  border-image: linear-gradient(
    to left,
    transparent 0%,
    /* Start with transparent */ #5d3f9c 50%,
    /* Transition to the border color */ #5d3f9c 50%,
    /* Thicker center of the border */ transparent 100%
      /* Transition to transparent again */
  );
  border-image-slice: 1; /* Make the entire border image visible */
  border-image-width: 0 0 1px 0; /* Set bottom border thickness */
  border-bottom-style: solid; /* Ensure a solid bottom border */
}
.gradient-top {
  border-image: linear-gradient(
    to left,
    transparent 0%,
    /* Start with transparent */ #5d3f9c 50%,
    /* Transition to the border color */ #5d3f9c 50%,
    /* Thicker center of the border */ transparent 100%
      /* Transition to transparent again */
  );

  border-image-slice: 1; /* Make the entire border image visible */
  border-image-width: 1px 0 0 0; /* Set bottom border thickness */
  border-bottom-style: solid;
}
.gradient-left {
  border-image: linear-gradient(
    to bottom,
    transparent 0%,
    /* Start with transparent */ #5d3f9c 50%,
    /* Transition to the border color */ #5d3f9c 50%,
    /* Thicker center of the border */ transparent 100%
      /* Transition to transparent again */
  );

  border-image-slice: 1; /* Make the entire border image visible */
  border-image-width: 0 0 0 1px; /* Set left border thickness */
  border-left-style: solid; /* Set the left border style to solid */
}
.service-list {
  width: 25rem;
  white-space: nowrap;
  font-size: 1.125rem;
  font-weight: 200;
  color: var(--gray-5, #d9d9d9);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-left: 1.625rem;
  margin-right: 1.625rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: font-weight 0.3s ease;
  transition: background 0.3s;
}
.service-list-cur{
  width: 25rem;
  white-space: nowrap;
  font-size: 1.125rem;
  color: var(--gray-5, #d9d9d9);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-left: 1.625rem;
  margin-right: 1.625rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  background: linear-gradient(
    113deg,
    rgba(166, 174, 244, 0.2) 0%,
    rgba(243, 244, 254, 0.2) 100%,
    rgba(2, 4, 24, 0.2) 100%
  );
}
@media (min-width:728px){
  .service-list{
    width: 18rem;
    white-space: nowrap;
    font-size: 0.875rem;
    
  }
  .service-list-cur{
    width: 18rem;
    white-space: nowrap;
    font-size: 0.875rem;
  }
}

@media (min-width:1280px){
  .service-list{
    width: 30rem;
    white-space: nowrap;
    
  }
  .service-list-cur{
    width: 30rem;
    white-space: nowrap;
  }
}
.service-list:hover {
  font-weight: 700;
  background: linear-gradient(
    113deg,
    rgba(166, 174, 244, 0.2) 0%,
    rgba(243, 244, 254, 0.2) 100%,
    rgba(2, 4, 24, 0.2) 100%
  );
}
.service-list:hover .arrow {
  opacity: 1;
}
.service-heading{
  background: var(--HeadingN, linear-gradient(180deg, #FFF 0%, #ECC5FE 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn > ::content {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  background: var(
    --card-dark,
    linear-gradient(180deg, #360e81 0%, #20084d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-purp-grad {
  display: flex;
  width: 182px;
  height: 60px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: linear-gradient(97deg, #6c39db 0.62%, #1c083e 100%);
}

.Container {
  overflow: hidden;
}

.card {
  display: flex;

  animation: carouselMove 80s linear infinite; /* Adjust duration as needed */
}

@keyframes carouselMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(100% * 3)
    ); /* Adjust the percentage for the number of slides */
  }
}

.blog-card {
  background: var(
    --CardDark,
    linear-gradient(180deg, #360e81 0%, #20084d 100%)
  );
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.no-wrap {
  white-space: normal !important;
}
.dark-gradient {
  background: linear-gradient(180deg, #360e81 0%, #20084d 100%);
}
.active-content {
  display: flex !important;
}
.active-content > input {
  border: solid #000000;
  border-width: 0px 0px 1px 0px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.active-tab {
  border-bottom: #000000;
}
.tab {
  color: #000000;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  transition: 0.3s ease;
}
.glider {
  font-size: 2rem;
  width: 2ch;
  padding: 0px 13px;
  height: 4.5px;
  border-radius: 0 0 1px 1px;
  box-shadow: 0px 0px 8px 0px hsl(262deg 100% 70% / 70%);
  background: #7a4bd3;
  /* background: linear-gradient(
    113deg,
    hsl(260deg 100% 64%) 0%,
    hsl(190deg 100% 55%) 100%
  ); */
  transition: 0.3s;
  top: 36px;
  z-index: 2;
}
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-2q8sxy).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-2q8sxy).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  color: #fff;
  background: #7a4bd3;
}
.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background: #f2d1f3;
}
:where(.css-dev-only-do-not-override-2q8sxy).ant-btn.ant-btn-sm {
  font-size: 14px;
  height: 24px;
  padding: 0px 7px;
  border-radius: 4px;
  background-color: #7a4bd3;
}
.ant-picker {
  margin: 0;
  padding: 4px 5px 4px;
  color: black;
  font-size: 14px;
  line-height: 1;
  list-style: none;
  font-family: poppins;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: transparent;
  transition: border 0.2s, box-shadow 0.2s;
}
.ant-picker-focused.ant-picker {
  border-color: transparent;
  box-shadow: 0 0 0 0px rgba(5, 145, 255, 0.1);
  outline: 0;
}
.ant-picker .ant-picker-input > input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 1px;
  color: black;
  opacity: 1;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 0;
  transition: all 0.2s;
  flex: auto;
  height: auto;
  background: transparent;
  border: 0;
  font-family: inherit;
}
.ant-picker-input > input::before {
  content: url("../../public/assets/calendar.svg") !important;
  margin-right: 8px !important;
}

.ant-picker-input > input::placeholder {
  color: black !important;
  font-family: poppins;
  font-size: medium;
}
.ant-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.CardDark {
  background: var(
    --card-dark,
    linear-gradient(180deg, #360e81 0%, #20084d 100%)
  );
  color: rgba(244, 243, 251, 0.8);
  font-family: Montserrat;
  font-weight: 500;
}
.ant-modal-footer{
  display: none !important;
}
.moving-bg {
  background: url("/assets/blob3.svg") no-repeat;
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  filter: blur(8px);
  border-radius: 100%;
  animation: moveAndScale 35s infinite alternate ease-in-out;
}

@keyframes moveAndScale {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(10%, 10%) scale(1.2);
  }
  20% {
    transform: translate(20%, -20%) scale(0.8);
  }
  30% {
    transform: translate(-30%, 30%) scale(1.5);
  }
  40% {
    transform: translate(40%, 40%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    transform: translate(15%, -15%) scale(1.3);
  }
  70% {
    transform: translate(-25%, 25%) scale(0.7);
  }
  80% {
    transform: translate(35%, 35%) scale(1.4);
  }
  90% {
    transform: translate(-45%, -45%) scale(0.8);
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-text {
  background: linear-gradient(90deg, #fff, #fff);
  background-repeat: no-repeat;
  background-size: 200%;
  animation: animate 1s linear 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: 500%;
  }
}

.top-gradient {
  border-image: linear-gradient(
    to right,
    transparent 10%,
    #fff 40%,
    #fff 60%,
    transparent 90%
  );
  border-image-slice: 1;
  border-image-width: 1px 0 0 0;
  border-style: solid;
}
.inline-card {
  border-radius: 9.048px;
  background: var(
    --CardDark,
    linear-gradient(180deg, #360e81 0%, #20084d 100%)
  );
}
.service-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}

.service-description.open {
  max-height: fit-content;
  transition: max-height 2s;
}

.service-title {
  background: var(
    --CardDark,
    linear-gradient(180deg, #360e81 0%, #20084d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.opaque-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background: rgba(255, 255, 255, 0.02);
}
.opaque-card:hover {
  background: rgba(150, 154, 251, 0.24);
}
.moving-noise {
  background-size: cover;
  z-index: 10;
  animation: moveBackground 4s linear infinite alternate;
}
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

#nav-text-bg {
  background: var(--L3, linear-gradient(96deg, #b9c1ec 0.58%, #a3b1ff 93.87%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skew-container {
  height: 100%;
  clip-path: polygon(
    20% 0,
    100% 0,
    100% 100%,
    0 100%
  ); /* Adjust values for desired skew */
}


.product-card-img {
  display: flex;
  padding: 3.125rem;
  width: 15rem;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.1),
    4px 4px 26px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 2px 0px rgba(255, 255, 255, 0.25) inset,
    0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
  backdrop-filter: blur(0px);
  color: #1b0b95;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.service-img {
  position: relative;
  width: 20rem;
  height: 14rem;
}

@media (min-width: 728px) {
  .service-img {
    width: 27rem;
    height: 20rem;
  }
}
@media (min-width: 1024px) {
  .service-img {
    width: 35rem;
    height: 26rem;
  }
}
@media (min-width: 1280px) {
  .service-img {
    width: 46rem;
    height: 34rem;
  }
}
@media (min-width: 1536px) {
  .service-img {
    width: 52rem;
    height: 38rem;
  }
}

.service-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0.26%,
    rgba(0, 0, 0, 0.8) 43.94%,
    rgba(0, 0, 0, 0) 99.73%
  );
  z-index: 1;
}

.service-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.nav-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0.26%,
    rgba(0, 0, 0, 0.8) 43.94%,
    rgba(0, 0, 0, 0) 99.73%
  );
  z-index: 1;
}
.nav-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cyan-gradient-mission {
  background: url("/assets/mission.png");
}
.cyan-gradient-mission:hover {
  mix-blend-mode: normal;
  background: url("/assets/mission.png"),
    radial-gradient(
      225.99% 112.99% at 100.42% -0.35%,
      #15416e 0%,
      #0a0353 1%,
      #0d2954 23%,
      #091657 45%,
      #071d70 70%,
      #0a195e 100%
    );
  transition: opacity 0.3s ease;
}
.cyan-gradient-vision {
  background: url("/assets/vision.png");
}
.cyan-gradient-vision:hover {
  mix-blend-mode: normal;
  background: url("/assets/vision.png"),
    radial-gradient(
      225.99% 112.99% at 100.42% -0.35%,
      #15416e 0%,
      #0a0353 1%,
      #0d2954 23%,
      #091657 45%,
      #071d70 70%,
      #0a195e 100%
    );
  transition: opacity 0.3s ease;
}
.tags-indigo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.25rem;
  background-color: #7389fa;
}
.cyan-gradient-arrow {
  background: url("/assets/vision.png");
  background-size: 50rem;
  aspect-ratio: 1/1;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #1b0740;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hue-btn-blue {
  cursor: pointer;
  border: 2px solid #b9c1ec;
  background-color: transparent;
  gap: 0.625rem;
  padding: 0.83rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  color: #b9c1ec;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.hue-btn-blue:hover {
  border: 2px solid transparent;

  background: linear-gradient(45deg, #6c39db 0.62%, #1c083e 100%) 0 0 / 200%
    100% no-repeat;

  background-position: 100% 0%;
  animation: shade-movement 4s linear infinite;
}
@keyframes shade-movement {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
}

.hue-blue-text-gradient {
  background: radial-gradient(
    75.24% 40.05% at 50% 49.98%,
    #2b15d1 0%,
    #6762d9 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-card {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.hue-btn-primary {
  cursor: pointer;
  border: 2px solid #b9c1ec;
  gap: 0.625rem;
  padding: 0.83rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #6c39db 0.62%, #1c083e 100%) 0 0 / 200%
    100% no-repeat;
  border: none;
  background-position: 100% 0%;
  animation: shade-movement 4s linear infinite;
}

.fade-in {
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.paragraph-animation {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.screen-height {
  height: calc(100vh - 3.5rem);
  margin-top: 3.5rem;
}
@media (min-width:1024px){
  .screen-height {
    height: calc(100vh - 4.5rem);
    margin-top: 4.5rem;
  }
}
.gradient-mesh {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.bg-pink-gradient {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 66.95%,
      rgba(0, 0, 0, 0) 152.46%
    )
    no-repeat;
}

.logos {
  overflow: hidden;
  margin: 0.8rem;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 3rem;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-flex;
  animation: 15s slidex infinite linear;
}

.logos-slide img {
  height: 2rem;
  aspect-ratio: 21/16;
  padding: 0 0.4rem;
  object-fit: contain;
  cursor: pointer;
}
@media (min-width: 375px){
  .logos{
    margin:1rem;
}
  .logos-slide img{
    height: 2.5rem;
    padding: 0 0.4rem;
  }
}
@media (min-width: 425px){
  .logos{
    margin:1rem;
}
  .logos-slide img{
    height: 3rem;
    padding: 0rem 0.6rem ;
  }
}
@media (min-width: 640px){
  .logos{
    margin:1rem;
}
  .logos-slide img{
    height: 4.5rem;
    padding: 0rem 1.5rem ;
  }
  .logos:before,
  .logos:after {
    width: 4rem;
  }
}
@media (min-width: 728px){
  .logos{
    margin:2rem;
}
  .logos-slide img{
    height: 5.2rem;
    padding:0 1rem;
  }
  .logos:before,
  .logos:after {
    width: 6rem;
  }
}
@media (min-width: 1024px){
  .logos{
      margin:2.5rem;
  }
  .logos-slide img{
    height: 6.875rem;
  }
}
@media (min-width: 1400px){
  .logos{
    margin:3.7rem;
}
  .logos-slide img{
    height: 10rem;
  }
}
.logos-slide img:hover {
  border-radius: 0.125rem;
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
@keyframes slidex {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.summary-card {
  color: var(--color-tin);
}

.carousel-ornament {
  filter: blur(9.5rem);
  background: linear-gradient(
    137deg,
    rgba(110, 159, 253, 0.24) 27.15%,
    rgba(47, 66, 165, 0.12) 83.22%
  );
  border-radius: 100%;
  border: none;
  outline: none;
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  margin-left: -1/2;
}
.privacy-hero-text {
  color: var(--color-hue-indigo);
}
.summary-card-txt-clamp{
  font-size: clamp(2rem, 4.5rem, 5vw);
}
.summary-card-side-text-clamp{
  font-size: clamp(1rem, 1.25rem, 5vw);
}
.summary-about-us-title{
  font-size:clamp(1.25rem, 2.25rem, 5vw);
  line-height: clamp(normal, 2.875rem, 5vw);
  letter-spacing: clamp(normal, 0.05em, 5vw);
}
.screen-height-section{
  height: calc(100vh - 4.5rem);
}
.industries-slideshow-btn-bg{
  background: linear-gradient(97deg, rgba(149, 159, 253, 0.17) 5.48%, rgba(243, 244, 254, 0.60) 94.34%, rgba(90, 104, 231, 0.60) 100%);
}
.learn-more-ind{
  background: linear-gradient(102deg, rgba(149, 159, 253, 0.60) 2.85%, rgba(90, 104, 231, 0.60) 97%, rgba(243, 244, 254, 0.60) 97%);
}