
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}
html, body { 
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow-x: auto;
  }
::-webkit-scrollbar {
    width: 0em;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
  }
.phases-description{
  color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.error-btn{
  color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
text-transform: capitalize;
}

.nav{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.highlight span{
  color: #7534F1;
}

  .btn{
    display: flex;
    height: 36px;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--geekblue-1, #F0F5FF);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    background: linear-gradient(135deg, #6C39DB 0.62%, #1C083E 100%);
    }

.hamburger{
  color: white;
  visibility: hidden;
  display: none;
}
.footer-heading{
  color: var(--geek-blue-geekblue-2, #D6E4FF);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.32px;
}
.footer-font{
  color: var(--gray-gray-1, #FFF);
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.email-container{
  display: flex;
padding: 12px 8px;
align-items: center;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
border: 0.5px solid #F2F0FB;
background: #ffffff00;
}

.subscribe{
  display: flex;
padding: 4px 8px;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
background: #F8F7FD;
}
.subscribe-text{
  font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: var(--CardDark, linear-gradient(180deg, #360E81 0%, #20084D 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/*Loader */
.loader{
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.lds-facebook {
  z-index: 16;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  background-color: #000000;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #dcf51f;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}



.hero-container {
justify-content: center;
  top: 50%;
  left: 50%;
  display: grid;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 12;
}
.ant-drawer-close{
  display:none;
}
/* Styles for the hero title */
.hero-title {
  font-size: 2rem;
  color: white;
  position: relative;
}

/* Styles for the hero subtitle */
.hero-subtitle {
  text-align: center;
  font-family: Montserrat;
  font-size: 4.00rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.085rem;
  background: linear-gradient(180deg, #FFF 0%, #ECC5FE 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}



.hero-nav-left{
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  justify-content: start;
  align-items: start;
  flex-shrink: 0;
  border-radius: 0.25rem;
background: #58448E;

}
.hero-nav-right{
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  justify-content: end;
  align-items: end;
  flex-shrink: 0;
  border-radius: 0.25rem;
background: #58448E;
}
/* Styles for the hero line */
.hero-line {
  width: 100%;
  margin-top: 15px;
  position: relative;
}


.hero-description{
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 15px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.hero-btn{
  margin-top: 40px;
  width: 180px;
  height: 50px;
  font-size: 1rem;
}

.button-test {
  width: 10rem;
  height: 3rem;
  border: 1px solid transparent; 
  border-image: var(--card-dark, linear-gradient(180deg, #360E81 0%, #20084D 100%));
  border-image-slice: 1; 
  justify-content: center;
  align-items: center;
  font-weight: 500;
  display: inline-flex;
  transition: background 0.9s ease, color 0.3s ease;
}


.button-test > span {
  color: var(--card-dark, linear-gradient(180deg, #360E81 0%, #20084D 100%));
  font-size: 1.25rem;
  font-weight: 500;
  word-wrap: break-word;
}
.button-test:hover {
  background: linear-gradient(135deg, #6C39DB 0.62%, #1C083E 100%);
  /* focusPrimary */
  box-shadow: 0px 0px 0px 2px #F0F5FF;
}

.button-test:hover > span {
  color: white; /* Change the opacity to 1 to make the text fully visible on hover */
}

.border-container-left {
  border: 0.1px  transparent;
  
  border-image: linear-gradient(to left bottom, 
                  white, 
                  transparent 50%, 
                  #5D3F9C 
                );
  border-image-slice: 0.5; 
  border-image-width: 1px 0 0 0 ;
}

.border-container-top {
  border: 0.1px  transparent; /* Set a transparent solid border */
  /* Create a linear gradient for the border */
  border-image: linear-gradient(to right top, 
                  white, /* Start with the border color */
                  transparent 50%, /* Transition to transparent */
                  #5D3F9C /* End with the border color again */
                );
  border-image-slice: 0.5; /* Make the entire border image visible */
  border-image-width:  0 0 0 1px ;
}

.border-container-bottom {
  border: 0.1px  transparent; /* Set a transparent solid border */
  /* Create a linear gradient for the border */
  border-image: linear-gradient(to right bottom, 
                  white, /* Start with the border color */
                  transparent 50%, /* Transition to transparent */
                  #5D3F9C /* End with the border color again */
                );
  border-image-slice: 0.5; /* Make the entire border image visible */
  border-image-width: 1px 0 0 1px ;
}
.grape-shadow:hover{
  box-shadow: 100px 0px 150px 0px #24114F inset;
  transition: 0.3s;
  cursor: pointer;
}


.key-points-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.key-points-container{
 display: flex;
 flex-direction: row;
  justify-content: start;
padding: 10px;
align-items: center;
flex: 1 0 0;
width: 100%;
background: #FFF;

box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02), 0px 1px 6px -1px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
}

.key-points-icon{
  display: flex;
width: 60px;
height: 60px;
justify-content: center;
align-items: center;
gap: 4px;
background: var(--LinearCard, linear-gradient(180deg, #360E81 0%, #20084D 100%));
}

.video {
  position: relative; /* Set position to relative to act as a positioning context */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Create a pseudo-element ::before with the gradient background */
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(27, 7, 64, 0.80) 0%, rgba(27, 7, 64, 0.80) 100%);
  z-index: 1;/* Adjust the z-index to place the gradient above the video */
}
.video-service{
  position: relative; /* Set position to relative to act as a positioning context */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(43, 21, 83, 0.8) 0%, rgba(27, 7, 64, 0.80) 0%);
  z-index: 1;/* Adjust the z-index to place the gradient above the video */
}
.industry-focus-main{
  background: #FFF;
padding-right: 1rem;
padding-left: 1rem;
margin-right: 6rem;
margin-left: 6rem;

/* boxShadow */
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02), 0px 1px 6px -1px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
}
.industry-focus-text{
  color: var(--geekblue-2, #D6E4FF);
font-family: Montserrat;
font-size: 13px;
font-style: italic;
font-weight: 500;
line-height: normal;
}

.industry-focus-text-container{
  background: #170D26;
  width: 180px;

padding: 4px;


gap: 10px;
}
/* Adjust the z-index of the video to make it below the gradient */
.video video {
  position: relative; /* Set position to relative to establish a new stacking context */
  z-index: 0; /* Adjust the z-index to place the video below the gradient */
}
.hero-first-vec{

    position: absolute;
    top: 28%;
    left: 20%;
    transform: translate(-50%, -50%);
 
    z-index: 12;

    fill: #D7CEF8;
    width: 23.97944rem;
height: 42.981rem;
/* transform: rotate(25deg); */
flex-shrink: 0;
}

.blur-vec{

  --tw-blur: blur(180px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);

}
.blur-vec-dark{

  --tw-blur: blur(280px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);

}
.hero-second-vec{

  position: absolute;
  top: 44%;
  left: 80%;
  fill: #CA65DB;
  width: 33.34275rem;
height: 22.42731rem;
flex-shrink: 0;
  transform: translate(-50%, -50%);
 
  z-index: 12;
}
.hero-third-vec{

  position: absolute;
  top: 64%;
  left: 40%;
  transform: translate(-50%, -50%);
  fill: #D7CEF8;
  width: 23.97944rem;
height: 42.981rem;
/* transform: rotate(90deg); */
flex-shrink: 0;
  z-index: 12;
}

.Container {
  display: flex;
  flex-direction: column;
padding: 10px;
  justify-content: center;
  width: 90rem;
  padding: 3rem 7.5rem;

  width: 100%;
  background: #F9F8FC;
  
}
.industry-top-section h2{
  color: var(--heading-gray, #E9E9EC);
}

/* styles.css */

/* Section styles */


/* Container styles */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
}

.subtitle{
  color: var(--heading-gray, #E9E9EC);
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.designation{
  color: #E9E9EC;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.privacy-policy{
display: grid;
grid-gap: 50px;
grid-template-columns: 400px auto;
margin-top: 80px;
}
.contact-sidebar{
  position: relative;
  display: block;
}
.contact-main{
display: block;
}
.contact-card{
  display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
border-top: 4px solid #797EFF;
background: #F4F6FF;
/* Elevation 2 */
box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.author-card{
  border-radius: 2px;
background: var(--Gray-gray-1, #FFF);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}
/* Item styles */
.item {
  display: flex;
  text-align: start;
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  justify-content: start;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}
.Card-Container{
  display: flex;
width: 389px;
height: 254px;
padding: 12px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;


gap: 10px;
  border-bottom: 0.5px solid var(--ButtonTest, #5E40A0);
background: var(--Button3, linear-gradient(97deg, #4C2997 0.62%, #150A35 100%));
box-shadow: 0px 4px 12px 0px rgba(163, 177, 255, 0.20);
 
}


.why-choose-us-Container{
  display: flex;
  flex-direction: row;
}

.Card-Container:hover .card-title {
  display: none; /* Hide the title when hovered */
}

.Card-Container:hover .card-description {
  display: block; /* Show the description when hovered */
}
.Card-Container:hover .card-image {
  display: none; /* Show the description when hovered */
}

.card-title{
  color: var(--colorTextHeading, rgba(255, 255, 255, 0.85));
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 200% */
  letter-spacing: 0.32px;
  display: block;
}
.card-image{
  display: block;
}
.card-line{
  background: var(--l-3, linear-gradient(127deg, #B9C1EC 0.62%, #A3B1FF 100%));
}
.card-description{
  color: var(--color-text, rgba(255, 255, 255, 0.85));
font-family: Poppins;
font-size: 0.8125rem;
font-style: normal;
font-weight: 300;
line-height: 1.375rem; 
display: none; /* 169.231% */
}
.summary{
  color: #FFF;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem; /* 175% */
}

.ellipse-container {
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ellipse-image {
  width: 2.5rem; /* Adjust the size of the ellipse image */
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chats-ellipse-container {
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chats-ellipse-image {
  width: 1.5rem; /* Adjust the size of the ellipse image */
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-image {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Adjust the size of the add image */
  height: 40px;
  cursor: pointer;
}
.minus-image{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px; /* Adjust the size of the add image */
  height: 40px;
  cursor: pointer;
}

.social-media-container {
  position: fixed;
  padding: 0.4rem;
  bottom: 5%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 12;
  cursor: pointer;
}
/* Expanded state for the chat container */
.social-media-container.open {
  height: 260px; 
  /* Set the expanded height for the container */
}
.social-media-item {
 padding-bottom: 0.5rem;
 cursor: pointer;
 
}

.faq-card{
background: #FFF;

cursor:pointer;
/* boxShadowCard */
box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.09), 0px 3px 6px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px -2px rgba(0, 0, 0, 0.16);
/* focusPrimary */
/* box-shadow: 0px 0px 0px 2px #111A2C; */

display: flex;
padding: 1.5rem;
justify-content: center;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
}

.side-nav {
 /* Adjust this value based on your requirement */
 position: fixed;
 
  top: 60%;
  left: 0;
  width:120px;
  transform: translate(0, -50%);
  z-index: 12;
  cursor: pointer;
}

.side-nav .line {
  /* ... */
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
width: 60%;
cursor: pointer;
border-bottom-width: 2px;
border-style: solid;
border-image: linear-gradient(96deg, #8275CF 0.58%, #6760B7 93.87%);
border-image-slice: 1;
}

.side-nav .line:hover {
  /* ... */
  border-bottom-width: 2px;
  border-style: solid;
  border-image: linear-gradient(96deg, #8275CF 0.58%, #6760B7 93.87%);
  border-image-slice: 1;
  width: 100%;
  cursor: pointer;

}

.side-nav .line p {
  /* ... */ visibility: hidden; 
  
  color: var(--gray-3, #F5F5F5);
font-family: Poppins;
font-size: 11px;
font-style: italic;
font-weight: 600;
line-height: normal;
letter-spacing: 0.33px;
padding-left: 0.3rem;
}

.side-nav .line:hover p {
  /* ... */ visibility: visible;
}

.navigate{
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  color: var(--gray-3, #F5F5F5);
  font-family: Poppins;
  font-size: 11px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.33px;
  width: 100%;
cursor: pointer;
padding-left: 0.3rem;
border-bottom-width: 2px;
border-style: solid;
border-image: linear-gradient(96deg, #8275CF 0.58%, #6760B7 93.87%);
border-image-slice: 1;
}

/* Hover styles */
.item:hover {
  background: linear-gradient(123deg, rgba(148.88, 159.27, 252.74, 0.17) 0%, rgba(243.29, 244.35, 253.96, 0.60) 100%, rgba(90.30, 104.33, 230.56, 0.60) 100%);
  color: white;
}

.main-jd-content ul {
  list-style-type: disc;
  color: black;
  margin-left: 1.5rem;
}

/* Add more specific styles for ul elements if needed */

.logoitems{
    display: flex;
    text-align: center;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Hover styles */
  .logoitems:hover {
    background: linear-gradient(123deg, rgba(148.88, 159.27, 252.74, 0.17) 0%, rgba(243.29, 244.35, 253.96, 0.60) 100%, rgba(90.30, 104.33, 230.56, 0.60) 100%);
    color: white;
  }

  .second-div{
    display: flex;
    flex-direction: columna;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .technology-section{
    
  width: 100%;
  background: #F9F8FC;
  }

.title{
  color: var(--heading-gray, #000000);
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
   
  .heading h2{
      color: var(--heading-gray, #000000);
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem; /* 150% */
    letter-spacing: 0.05rem;
    justify-items: center;
    display: flex;
    justify-content: center;
  }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.industry{
display: flex;
padding: 0.25rem;
width: fit-content;
gap: 0.625rem;
background: #170D26;
}
.section-container{
color: var(--heading-gray, #E9E9EC);
font-family: Montserrat;
font-size: 2.25rem;
font-style: normal;
font-weight: 600;
line-height: 3.75rem; /* 166.667% */
}
.phases-container{
  background: #1B0740;
    color: var(--heading-gray, #E9E9EC);
    font-family: Montserrat;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem; /* 166.667% */
}
.phases-title{
color: #EEEBFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.32px;
}

.service-card-summary{
color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.36px;
}
.service-summary{
color: #262626;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.phases-desc{
  color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.section h2{


color: #1B171E;
font-family: Montserrat;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.05rem;
}
.section-heading h2{
  color: var(--heading-gray, #E9E9EC);
font-family: Montserrat;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 3.75rem; /* 150% */
letter-spacing: 0.05rem;
justify-items: center;


display: flex;
justify-content: center;
}

/* Add your existing CSS styles here */

/* Style for the row number divs */
.row-number-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Style for each row number */
.row-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #3498db;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  margin: 5px 0;
}

/* Add any additional styling as needed */



.section p {
  font-size: 16px;
  max-width: 400px;
  text-align: center;
}

.section-container{
background: #1B0740;
}

.industry-inner-container{
  background: linear-gradient(180deg, #360E81 0%, #20084D 100%);
  display: flex;
  margin-bottom: 3.18rem;
  padding: 4rem 1.875rem;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.inner-container{
  display: flex;
  margin-bottom: 3.18rem;
  padding: 4rem 1.875rem;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.carousel {
  display: flex;
  overflow-x: auto;
  padding: 0px;
  display: flex;
width: 81.25rem;
/* height: 17.5rem; */
padding: 0.25rem 0rem;
/* flex-direction: column; */
justify-content: center;
align-items: flex-start;
/* gap: 1.5rem; */

  width: 100%;
}

.card {
  flex: 0 0 200px;
  height: 150px;

padding: 1rem;
  display: flex;
  align-items: center;

  justify-content: center;
  font-size: 20px;
  font-weight: bold;

}

.nav-content{
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
padding: 0.6rem;
  z-index: 12;
}
.card:hover {
  background-color: rgb(255, 255, 255);
  
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 0.125rem;
background: #FFF;

/* Elevation 2 */
box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15); /* Change to your desired background color */
}

hr {
  width: 100%;
  margin: 10px 0;
}

@media screen and (max-width: 1100px) {

  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
  .hamburger{
    color: white;
    visibility: visible;
    display: block;
  }
  .hero-container {
    font-size: 1.5rem;
    top: 40%;
    left: 50%;
  }
  .hero-title{
    font-size: 1rem;
  }

 
.why-choose-us-Container{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
}

  .hero-description{
    font-size: 12px;
    margin-top: 8px;
    
  }

  .hero-line {
    margin-top: 4px;
    width: 80%;
  }
  .hero-btn {
    width: 80px;
    height: 26px;
    font-size: 0.5rem;
  }
}
.hero-gradient-top{

    border-image: linear-gradient(to left, 
    transparent 0%, /* Start with transparent */
    #97ecfe 50%,   /* Transition to the border color */
    #97ecfe 50%,   /* Thicker center of the border */
    transparent 100% /* Transition to transparent again */
  );
  
  border-image-slice: 1; /* Make the entire border image visible */
  border-image-width: 4px 0 0 0; /* Set bottom border thickness */
  border-bottom-style: solid;
  
}
.gradient-bottom {
  /* Create a linear gradient for the border */
  border-image: linear-gradient(to left, 
                  transparent 0%, /* Start with transparent */
                  #5D3F9C 50%,   /* Transition to the border color */
                  #5D3F9C 50%,   /* Thicker center of the border */
                  transparent 100% /* Transition to transparent again */
                );
  border-image-slice: 1; /* Make the entire border image visible */
  border-image-width: 0 0 1px 0; /* Set bottom border thickness */
  border-bottom-style: solid; /* Ensure a solid bottom border */
}
.gradient-top{
  border-image: linear-gradient(to left, 
  transparent 0%, /* Start with transparent */
  #5D3F9C 50%,   /* Transition to the border color */
  #5D3F9C 50%,   /* Thicker center of the border */
  transparent 100% /* Transition to transparent again */
);

border-image-slice: 1; /* Make the entire border image visible */
border-image-width: 1px 0 0 0; /* Set bottom border thickness */
border-bottom-style: solid;
}
.gradient-left {
  border-image: linear-gradient(to bottom, 
    transparent 0%,       /* Start with transparent */
    #5D3F9C 50%,           /* Transition to the border color */
    #5D3F9C 50%,           /* Thicker center of the border */
    transparent 100%       /* Transition to transparent again */
  );
  
  border-image-slice: 1;   /* Make the entire border image visible */
  border-image-width: 0 0 0 1px; /* Set left border thickness */
  border-left-style: solid; /* Set the left border style to solid */
}

.services-gradient{
  background: var(--linear-card, linear-gradient(180deg, #360E81 0%, #20084D 100%));
}
.service-list {
  width: 500px;
  font-size: 1.125rem; 
  font-weight: 200; 
  color: var(--gray-5, #D9D9D9);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 1rem; 
  margin-left: 1.625rem; 
  margin-right: 1.625rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  transition: font-weight 0.3s ease; 
  transition: background 0.3s;
}




.service-list:hover {
  font-weight: 700;
  background: linear-gradient(113deg, rgba(166, 174, 244, 0.20) 0%, rgba(243, 244, 254, 0.20) 100%, rgba(2, 4, 24, 0.20) 100%);
}
.service-list:hover .arrow{
  opacity: 1;
}
.service-list-cur{
  width: 500px;
  font-size: 1.125rem; 
  color: var(--gray-5, #D9D9D9);
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 1rem; 
  margin-left: 1.625rem; 
  margin-right: 1.625rem; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  font-weight: 700;
  background: linear-gradient(113deg, rgba(166, 174, 244, 0.20) 0%, rgba(243, 244, 254, 0.20) 100%, rgba(2, 4, 24, 0.20) 100%);
}
.btn-white{
  display: flex;
  height: 3.75rem;
  padding: 0px 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: #F1F0F4;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  box-shadow: 0px 3px 5px 0px rgba(176, 190, 197, 0.32), 0px 8px 24px 0px rgba(176, 190, 197, 0.32);
}
.btn > ::content{
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  background: var(--card-dark, linear-gradient(180deg, #360E81 0%, #20084D 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-purp-grad{
  display: flex;
  width: 182px;
  height: 60px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: linear-gradient(97deg, #6C39DB 0.62%, #1C083E 100%);
}

.Container {
  overflow: hidden;
}

.card {
  display: flex;

  animation: carouselMove 80s linear infinite; /* Adjust duration as needed */
}

@keyframes carouselMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% * 3)); /* Adjust the percentage for the number of slides */
  }
}

.blog-card{
  background: var(--CardDark, linear-gradient(180deg, #360E81 0%, #20084D 100%));
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.no-wrap {
  white-space: normal !important;
}
.dark-gradient{
  background: linear-gradient(180deg, #360E81 0%, #20084D 100%);
}
.active-content{
  display: flex !important;
}
.active-content > input{
  border: solid #000000;
  border-width : 0px 0px 1px 0px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.active-tab{
  border-bottom: #000000 ;
}
.tab{
  color: #000000;
  padding: 1rem;
  cursor:pointer;
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  transition: 0.3s ease;
}
.glider {
  font-size: 2rem;
  width: 2ch;
  padding: 0px 13px;
  height: 4.5px;
  border-radius: 0 0 1px 1px;
  box-shadow: 0px 0px 8px 0px hsl(262deg 100% 70% / 70%);
  background: #7A4BD3;
  /* background: linear-gradient(
    113deg,
    hsl(260deg 100% 64%) 0%,
    hsl(190deg 100% 55%) 100%
  ); */
  transition: 0.3s;
  top: 36px;
  z-index: 2;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, :where(.css-dev-only-do-not-override-2q8sxy).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, :where(.css-dev-only-do-not-override-2q8sxy).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background: #7A4BD3;
}
.ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background: #f2d1f3;
}
:where(.css-dev-only-do-not-override-2q8sxy).ant-btn.ant-btn-sm {
  font-size: 14px;
  height: 24px;
  padding: 0px 7px;
  border-radius: 4px;
  background-color: #7A4BD3;
}
.ant-picker {
  margin: 0;
  padding: 4px 5px 4px;
  color: black;
  font-size: 14px;
  line-height: 1;
  list-style: none;
  font-family: poppins;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: transparent;
  transition: border 0.2s,box-shadow 0.2s;
}
.ant-picker-focused.ant-picker {
  border-color: transparent;
  box-shadow: 0 0 0 0px rgba(5, 145, 255, 0.1);
  outline: 0;
}
.ant-picker .ant-picker-input >input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 1px;
  color:black;
  opacity:1;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 0;
  transition: all 0.2s;
  flex: auto;
  height: auto;
  background: transparent;
  border: 0;
  font-family: inherit;
}
.ant-picker-input > input::before {
  content: url('../../public/assets/calendar.svg') !important; 
  margin-right: 8px !important;
}

.ant-picker-input > input::placeholder {
  color: black !important;
  font-family: poppins;
  font-size: medium;
}
.ant-upload{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.CardDark{
  background: var(--card-dark, linear-gradient(180deg, #360E81 0%, #20084D 100%));
  color: rgba(244, 243, 251, 0.80);
  font-family: Montserrat;
  font-weight: 500;
}
.moving-bg {
  background: url('/assets/blob3.svg') no-repeat;
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  filter: blur(8px);
  border-radius: 100%;
  animation: moveAndScale 35s infinite alternate ease-in-out;
}

@keyframes moveAndScale {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(10%, 10%) scale(1.2);
  }
  20% {
    transform: translate(20%, -20%) scale(0.8);
  }
  30% {
    transform: translate(-30%, 30%) scale(1.5);
  }
  40% {
    transform: translate(40%, 40%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  60% {
    transform: translate(15%, -15%) scale(1.3);
  }
  70% {
    transform: translate(-25%, 25%) scale(0.7);
  }
  80% {
    transform: translate(35%, 35%) scale(1.4);
  }
  90% {
    transform: translate(-45%, -45%) scale(0.8);
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.animated-text span {
  display: inline-block;
  animation: slideIn 1s ease-out forwards;
  opacity: 0;
}

.animated-text span:nth-child(1) { animation-delay: 0.1s; }
.animated-text span:nth-child(2) { animation-delay: 0.2s; }
.animated-text span:nth-child(3) { animation-delay: 0.3s; }
.animated-text span:nth-child(4) { animation-delay: 0.4s; }
.animated-text span:nth-child(5) { animation-delay: 0.5s; }
.animated-text span:nth-child(6) { animation-delay: 0.6s; }
.animated-text span:nth-child(7) { animation-delay: 0.7s; }
.animated-text span:nth-child(8) { animation-delay: 0.8s; }
.animated-text span:nth-child(9) { animation-delay: 0.9s; }
.animated-text span:nth-child(10) { animation-delay: 0.10s; }
.animated-text span:nth-child(11) { animation-delay: 0.11s; }
.animated-text span:nth-child(12) { animation-delay: 0.12s; }
/* Add more nth-child declarations for each span */
.hero{
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 66.95%, rgba(0, 0, 0, 0.00) 152.46%), lightgray 50% / cover no-repeat;
}
.top-gradient {
  border-image: linear-gradient(to right,
                  transparent 10%, 
                  #FFF 40%,
                  #FFF 60%, 
                  transparent 90% 
                );
  border-image-slice: 1; 
  border-image-width: 1px 0 0 0;
  border-style: solid;
}
.inline-card{
  border-radius: 9.048px;
  background: var(--CardDark, linear-gradient(180deg, #360E81 0%, #20084D 100%));
}
.service-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.service-description.open {
  max-height: fit-content;
  transition: max-height 0.5s ease-in-out;
}

.service-title{
  background: var(--CardDark, linear-gradient(180deg, #360E81 0%, #20084D 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.opaque-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  background: rgba(255, 255, 255, 0.02);
}
.opaque-card:hover{
  background: rgba(150, 154, 251, 0.24);
}
.moving-noise{
  background-size: cover;
  z-index: 10;
  animation: moveBackground 4s linear infinite alternate;
}
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}



#nav-text-bg {
  background: var(--L3, linear-gradient(96deg, #B9C1EC 0.58%, #A3B1FF 93.87%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.ant-carousel .slick-dots li button {
  display: block;
  width: 1rem;
  height: 10px;
  padding: 0;
  color: transparent;
  font-size: 0;
  background: #200A46;
  border: 0;
  border-radius: 0px !important;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s;
  transform: skew(-20deg);
}
.ant-carousel .slick-dots li.slick-active {
  margin-right: 25px;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #200A46;
  width: 3.125rem !important;
  opacity: 1;
}
.ant-carousel .slick-dots-bottom {
  position: relative;
  top: 2rem;
  display: flex;
  flex-wrap: wrap;
} 
.slit-gradient{
  z-index: -1;
  background: linear-gradient(100deg, white 50%, #AB99C8 50%);
  filter: drop-shadow(8px 4px 24px rgba(0, 0, 0, 0.25));
}
.blur-bg-img{
  display: flex;
  padding: 1.25rem 0 0 1.25rem ;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0.5rem;
  opacity: 0.9;
  background: rgba(58, 14, 133, 0.24);
  box-shadow: 0px 12.048px 37.482px 10.709px rgba(0, 0, 0, 0.05), 0px 4.016px 8.032px -5.355px rgba(0, 0, 0, 0.12), 0px 8.032px 21.418px 0px rgba(0, 0, 0, 0.24);
  filter: blur(0.669322669506073px);
  }
.tabs-btn{
  color: #000;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.025rem;
  background-color: white;
  white-space: nowrap;
  display: flex;
  width: 17.75rem;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  flex: 1 0 0;
}
.tabs-btn-active{
  background-color: transparent;
  font-weight: 600;
  font-style: italic;
}
.tab-content{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.tab-container{
  background: linear-gradient(100deg, #CEAFFF 0.27%, rgba(213, 187, 255, 0.24) 33.83%, rgba(255, 255, 255, 0.00) 82.63%);
}
.product-card-img{
  display: flex;
  padding: 3.125rem;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.10), 4px 4px 26px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 2px 0px rgba(255, 255, 255, 0.25) inset, 0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
  backdrop-filter: blur(0px);
  color: #1B0B95;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.service-img {
  position: relative;
  width: 100%;
  height: 600px; /* Set the desired height */
}

.service-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0.26%, rgba(0, 0, 0, 0.80) 43.94%, rgba(0, 0, 0, 0.00) 99.73%);
  z-index: 1;
}

.service-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.nav-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0.26%, rgba(0, 0, 0, 0.80) 43.94%, rgba(0, 0, 0, 0.00) 99.73%);
  z-index: 1;
}
.nav-img img{
  position:relative;
  width:100%;
  height: 100%;
  object-fit: contain;
}



.cyan-gradient-mission{
  background: url('/assets/mission.png')
}
.cyan-gradient-mission:hover{
  mix-blend-mode: normal;
  background: url('/assets/mission.png'), radial-gradient(225.99% 112.99% at 100.42% -0.35%, #15416E 0%, #0A0353 1%, #0D2954 23%, #091657 45%, #071D70 70%, #0A195E 100%);
  transition: opacity 0.3s ease;
}
.cyan-gradient-vision{
  background: url('/assets/vision.png')
}
.cyan-gradient-vision:hover{
  mix-blend-mode: normal;
  background: url('/assets/vision.png'), radial-gradient(225.99% 112.99% at 100.42% -0.35%, #15416E 0%, #0A0353 1%, #0D2954 23%, #091657 45%, #071D70 70%, #0A195E 100%);
  transition: opacity 0.3s ease;
}
.tags-indigo::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.25rem;
  background-color: #7389FA;
}
.cyan-gradient-arrow{
  background: url('/assets/vision.png');
  background-size:  50rem;
  aspect-ratio: 1/1;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #1B0740;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hue-btn-blue{
  cursor: pointer; 
  border: 2px solid #B9C1EC;
  background-color: transparent; 
  gap: 0.625rem;
  padding: 0.83rem;
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  color: #B9C1EC;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.hue-btn-blue:hover{
  background: linear-gradient(
    45deg, 
    #6C39DB 0.62%, 
    #1C083E 100%
  ) 
  0 0 / 200% 100% no-repeat;

    border: none;
    background-position: 100% 0%;
    animation: shade-movement 4s linear infinite;
}
@keyframes shade-movement {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
}

.hue-blue-text-gradient{
  background: radial-gradient(75.24% 40.05% at 50% 49.98%, #2B15D1 0%, #6762D9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-card{
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.hue-btn-primary{
  height: 3.75rem;
  aspect-ratio: 3/1;
  cursor: pointer; 
  border: 2px solid #B9C1EC;
  gap: 0.625rem;
  padding: 0.83rem;
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  background: linear-gradient(
    45deg, 
    #6C39DB 0.62%, 
    #1C083E 100%
  ) 
  0 0 / 200% 100% no-repeat;

    border: none;
    background-position: 100% 0%;
    animation: shade-movement 4s linear infinite;
}

.fade-in{
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.paragraph-animation {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.screen-height {
  height: calc(100vh - 4.5rem);
}

.gradient-mesh{
  background-color:rgba(0, 0, 0, 0.5);
}

@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.bg-pink-gradient{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 66.95%, rgba(0, 0, 0, 0.00) 152.46%) no-repeat;
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-flex;
  animation: 5s slidex infinite linear;
}

.logos-slide img {
  height: 160px;
  aspect-ratio: 21/16;
  padding: 0 40px;
  object-fit: contain;
  cursor: pointer;
}
.logos-slide img:hover{
  border-radius: 0.125rem;
  background: #FFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15); 
}
@keyframes slidex {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
