.ant-carousel .slick-dots li button {
    display: block;
    width: 1rem;
    height: 10px;
    padding: 0;
    color: transparent;
    font-size: 0;
    background: #200A46;
    border: 0;
    border-radius: 0px !important;
    outline: none;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s;
    transform: skew(-20deg);
  }
  .ant-carousel .slick-dots li.slick-active {
    margin-right: 25px;
  }
  .ant-carousel .slick-dots li.slick-active button {
    background: #200A46;
    width: 3.125rem !important;
    opacity: 1;
  }
  .ant-carousel .slick-dots-bottom {
    margin-left: -40%;
    position: relative;
    bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: 1280px) { 
    .product-card-img {
      display: flex;
      padding: 3.125rem;
      width: 15rem;
      aspect-ratio: 1/1;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      background: #fff;
      box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.1),
        4px 4px 26px 0px rgba(255, 255, 255, 0.25) inset,
        0px 4px 2px 0px rgba(255, 255, 255, 0.25) inset,
        0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
      color: #1b0b95;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .ant-carousel .slick-dots-bottom {
      margin-left: -40%;
      position: relative;
      bottom: 8rem;
      display: flex;
      flex-wrap: wrap;
    }
   }
   @media (min-width: 1024px) { 
    .tabs-btn {
      color: #000;
      font-family: Poppins;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.125rem;
      letter-spacing: 0.025rem;
      background-color: white;
      white-space: nowrap;
      display: flex;
      width: 17.75rem;
      padding: 1.5rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.625rem;
      flex: 1 0 0;
    }
    .tabs-btn-active {
      background-color: transparent;
      font-weight: 600;
      font-style: italic;
    }
    .tab-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 1 0 0;
      align-self: stretch;
    }
    .tab-container {
      background: linear-gradient(
        100deg,
        #ceafff 0.27%,
        rgba(213, 187, 255, 0.24) 33.83%,
        rgba(255, 255, 255, 0) 82.63%
      );
    }
    .product-card-img {
      display: flex;
      padding: 3.125rem;
      width: 15rem;
      aspect-ratio: 1/1;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      background: #fff;
      box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.1),
        4px 4px 26px 0px rgba(255, 255, 255, 0.25) inset,
        0px 4px 2px 0px rgba(255, 255, 255, 0.25) inset,
        0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
      color: #1b0b95;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .ant-carousel .slick-dots-bottom {
      margin-left: -40%;
      position: relative;
      bottom: 6rem;
      display: flex;
      flex-wrap: wrap;
    }
    .prod-hero-title{
      font-size: clamp(2rem, 2.5rem, 5vw);
      line-height: clamp(2.625rem, 3.3125rem, 5vw);
    }
    .prod-hero-desc{
      font-size: clamp(0.875rem, 1.25rem, 5vw);
      line-height: clamp(1.5rem, 2rem, 5vw);
    }
  }
  @media (min-width: 768px) { 
    /* tabres */
    .ant-carousel .slick-dots-bottom {
      margin-left: -40%;
      position: relative;
      bottom: 4rem;
      display: flex;
      flex-wrap: wrap;
    }
    .slit-gradient{
      z-index: -1;
      background: linear-gradient(100deg, white 50%, #AB99C8 50%);
      filter: drop-shadow(8px 4px 24px rgba(0, 0, 0, 0.25));
    }
  }
  .prod-hero-title{
    font-size: 2rem;
    line-height: 2.625rem;
  }
  .prod-hero-desc{
    color: #262626;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */
  }
.blur-bg-img {
  padding: 1.25rem 0 0 1.25rem;
  border-radius: 0.5rem 0rem 0rem 0rem;
  background: rgba(58, 14, 133, 0.24);
  box-shadow: 0px 12.048px 37.482px 10.709px rgba(0, 0, 0, 0.05), 0px 4.016px 8.032px -5.355px rgba(0, 0, 0, 0.12), 0px 8.032px 21.418px 0px rgba(0, 0, 0, 0.24);
}
.blur-bg-img > img{
  border-radius: 0.5rem 0rem 0rem 0rem;
}
.slit-gradient {
  z-index: -1;
  background: linear-gradient(110deg, white 50%, #AB99C8 50%);
  filter: drop-shadow(8px 4px 24px rgba(0, 0, 0, 0.25));
}
@media (min-width:0px) and (max-width: 47.938rem) { 
  .ant-carousel .slick-dots-bottom {
    margin-left: -40%;
    position: relative;
    /* margin-top: -15.625rem; */
    transform: translateY(-15.625rem);
    display: flex;
    flex-wrap: wrap;
  }
 }
 @media (max-width: 48rem){
  .prod-abt-us-btn{
    color: #1B0740;
    margin-right:auto;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-transform: capitalize;
    display: flex;
    height: 2.75rem;
    padding: 0rem 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 2px solid var(--CardDark, #360E81);
  }
 }
 @media (max-width: 63.938rem) { 
  .product-card-img {
    display: none !important;
  }
  .product-card-sm-img{
    display: flex;
    font-size: 0.75rem;
    aspect-ratio: 1/1;
    width: 7rem;
    height: 7rem;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.1),
      4px 4px 26px 0px rgba(255, 255, 255, 0.25) inset,
      0px 4px 2px 0px rgba(255, 255, 255, 0.25) inset,
      0px -4px 2px 0px rgba(0, 0, 0, 0.05) inset;
    color: #1b0b95;
    font-family: Montserrat;
    font-style: normal;
    line-height: normal;
  }
  .tabs-btn-active {
    display: flex;
    padding: 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.125rem;
    border: 1px solid #D8C2FA;
    background: linear-gradient(91deg, #D8C2FA -8.18%, rgba(216, 194, 250, 0.30) 70.04%, rgba(216, 194, 250, 0.00) 120.39%) !important;
    font-weight: 600;
  }
  .tabs-btn {
    display: flex;
    padding: 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.125rem;
    border: 1px solid #D8C2FA;
    background: #FFF;
  }
 }
 .ant-carousel .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  background: black;
  touch-action: pan-y;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}