.logo{

    object-fit: contain;
    width: 40px;
}
.nav-mid-content{
color: var(--gray-3, #F5F5F5);
font-family: Montserrat;
font-weight: 500;
line-height: normal;

}
.company-name{
    height: 3rem;
    width: 6rem;
    display: flex;
    justify-content: center;

}
@media screen and (min-width: 750px) {

    .logo{
        object-fit: contain;
        width: 30px;
    }
    .company-name{
        height: 3rem;
        width: 5rem;
        display: flex;
        justify-content: center;
    
    }
}


