.logo{

    object-fit: contain;
    width: 40px;
}
.nav-mid-content{
color: var(--gray-3, #F5F5F5);
font-family: Montserrat;
font-weight: 500;
line-height: normal;

}
.company-name{
    height: 3rem;
    width: 6rem;
    display: flex;
    justify-content: center;

}
@media screen and (min-width: 750px) {

    .logo{
        object-fit: contain;
        width: 30px;
    }
    .company-name{
        height: 3rem;
        width: 5rem;
        display: flex;
        justify-content: center;
    
    }
}
.nav-btn{
    cursor: pointer; 
    border: 0.5px solid #FFF;
    background-color: transparent; 
    gap: 0.625rem;
    padding: 0.83rem;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); 
}