/* Sidebar.css */
/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    right: 0px; /* Position the sidebar off the screen to the right */
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    color: black;
    transition: transform 0.3s ease;
    z-index: 10;
  }
  
.sidebar ul{
margin-left: 1rem;
  align-items: center;
  justify-content: center;
}
  
 
  
  /* Style the sidebar content */


 